*{
  margin: 0;
}
body{
    background-color: #112B3C;
    background-size: cover;
}
.titulo
{
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 1em;
}
.subtitulos{
  font-family: 'Roboto Slab', serif;
  color: #fff;
  padding: 0;
  margin: 1em;
}
.nav_header{
  padding: 5px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav_header:hover{
  background-color: #F66B0E;
}
hr{
    border-top-color: #F66B0E;
    border-bottom: 0ch;
    border-width: 1ch;
    padding: 0%;
    border-right-width: 0ch;
    border-left-width: 0ch;
}
footer{
  background-color: #205375;
  color: #fff;
  font-family: 'Roboto Slab', serif;;
 
}

.nav_footer{
  padding: 5px;
  text-decoration: none;
  padding: 0;
  margin: 1em;
}

.carousel {
    color: #F66B0E;
  }
  
  .carousel__slide {
    width: 300px;
    height: 600px;
    min-height: 6px;
    margin-right: 6px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color:#112B3C;
    font-size: 2rem;
    border-radius: 6px;
  
    transition: background 0.2s ease, color 0.2s ease;
  }
  
  .carousel__slide.is-selected {
    background: #F66B0E;
    color: #112B3C;
  }